<ng-container *ngIf="weatherForecast; else loadingTemplate">
  <button (click)="goBack()">Go back</button>

  <h2 class="forecast-city">{{weatherForecast.name | uppercase}} Forecast</h2>
  <div class="container">
    <div *ngFor="let weather of weatherForecast.weathers | slice: 0:3" class="forecast-card">
      <p class="forecast-day">{{weather.date | date}}</p>
      <p class="forecast-day">{{weather.stateName}}</p>
      <p class="forecast-the-temp">Current temp: {{weather.currentTemp | number: '1.0-0' }}°C</p>

      <div>
        <img src="{{weather.iconUrl}}" alt="icon" class="forecast-icon" />
      </div>
      <div class="forecast-temp">
        <p class="forecast-min-temp">Min: {{weather.minTemp | number: '1.0-0' }}°C</p>
        <p class="forecast-max-temp">Max: {{weather.maxTemp | number: '1.0-0'}}°C</p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingTemplate class="loading">
  <app-loader></app-loader>
</ng-template>